.cp-h1,
.cp-post h1 {
  font-size: rem(24px);
  font-family: "Vollkorn";
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: rem(56px);
  }
}

.cp-h2,
.cp-post h2 {
  font-size: rem(24px);
  font-family: "Alata";
  line-height: 1.2;
  @media (min-width: 768px) {
    font-size: rem(32px);
  }
}

.cp-h3,
.cp-post h3 {
  font-size: rem(22px);
  font-family: "Alata";
  line-height: 1.2;
  @media (min-width: 768px) {
    font-size: rem(28px);
  }
}

.cp-h4,
.cp-post h4 {
  font-size: rem(22px);
  font-family: "Alata";
  line-height: 1.2;
  color: #585858;
  @media (min-width: 768px) {
    font-size: rem(28px);
  }
}

.font-italic {
  font-style: italic;
}

// Default styles for post/page styles
.cp-post {
  a:not(.cp-btn) {
    color: var(--color-beta);
    &:hover {
      text-decoration: none;
    }
  }

  ul,
  ol {
    padding-left: 1.1rem;

    li + li {
      margin-top: 5px;
    }
  }
}
