.cp-callout {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  font-weight: 600;
  font-style: italic;
  font-size: rem(20px);
  line-height: 1.5;
  text-align: center;
  padding: 30px 0;
  position: relative;
  color: #354052;

  margin: 30px 0;

  @media (min-width: 768px) {
    margin: 66px auto;
    max-width: 90%;
  }

  &:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 0;
    background-color: white;
    display: block;
    content: "";
    width: 60px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24ZM12 21.3333C17.1547 21.3333 21.3333 17.1547 21.3333 12C21.3333 6.84534 17.1547 2.66667 12 2.66667C6.84534 2.66667 2.66667 6.84534 2.66667 12C2.66667 17.1547 6.84534 21.3333 12 21.3333ZM10.4017 5.51432H13.3184L13.0723 14.3372H10.6387L10.4017 5.51432ZM11.86 18.9401C10.8392 18.9401 10.2012 18.3477 10.2012 17.3906C10.2012 16.4245 10.8392 15.832 11.86 15.832C12.89 15.832 13.5189 16.4245 13.5189 17.3906C13.5189 18.3477 12.89 18.9401 11.86 18.9401Z' fill='%23007AFF'/%3E%3Cmask id='mask0_106:607' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24ZM12 21.3333C17.1547 21.3333 21.3333 17.1547 21.3333 12C21.3333 6.84534 17.1547 2.66667 12 2.66667C6.84534 2.66667 2.66667 6.84534 2.66667 12C2.66667 17.1547 6.84534 21.3333 12 21.3333ZM10.4017 5.51432H13.3184L13.0723 14.3372H10.6387L10.4017 5.51432ZM11.86 18.9401C10.8392 18.9401 10.2012 18.3477 10.2012 17.3906C10.2012 16.4245 10.8392 15.832 11.86 15.832C12.89 15.832 13.5189 16.4245 13.5189 17.3906C13.5189 18.3477 12.89 18.9401 11.86 18.9401Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106:607)'%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      width: 150px;
    }
  }
}
