.cp-faq-strip {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  &--first {
    background-color: #f0efde;
  }

  &--second {
    background-color: #caeef6;
  }
}

.cp-faq-strip__img {
  max-width: 260px;
  margin: 0 auto;
}

.form-faq {
  margin: 0 auto;
  max-width: 725px;
  padding: 90px 0;

  @media (min-width: 768px) {
    padding: 135px 0;
  }

  .cp-btn {
    padding-left: 60px;
    padding-right: 60px;

    @media (min-width: 768px) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
