.cp-hero-footer {
  background-image: url(/img/hero-footer.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  min-height: 287px;
  background-color: #6c7cd8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.cp-btn--agree {
  display: block;
  margin: 0 auto;
  @media (min-width: 480px) {
    max-width: 330px;
  }
}

.cp-hero-footer__faqs {
  display: inline-flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  font-family: "Alata";
  line-height: 1;
}
