.mini-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 228px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6c7cd8;

  @media (min-width: 768px) {
    min-height: 358px;
  }

  .cp-h1 {
    line-height: 1.2;
  }

  &--mama {
    background-image: url("/img/bg-mama-mobile.png");
    @media (min-width: 768px) {
      background-image: url("/img/bg-mama.png");
    }
  }
  &--pulmon {
    background-image: url("/img/bg-pulmon-mobile.png");
    @media (min-width: 768px) {
      background-image: url("/img/bg-pulmon.png");
    }
  }
  &--esclerosis {
    background-image: url("/img/bg-esclerosis-mobile.png");
    @media (min-width: 768px) {
      background-image: url("/img/bg-esclerosis.png");
    }

    .cp-h1 {
      color: var(--color-text);
    }
  }
}
